body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header h1{
  margin:10px;
}
#main-icon{
  width: 80px;
}
.cv-body{
  border:2px solid black;
  width: 80vw;
  min-height: 80vh;
}
.personal-info{
  border-bottom: 1px solid gray;
  height: 150px;
}
